### Exercise 1.2: Working with Arrays

#### DSC 550

Taniya Adhikari 12/06/2020

In [1]:
import numpy as np
import pandas as pd

1. Create an array of size [10,50] and use the random function to fill it with integers between 1 and 500 (inclusive). Load it to a DataFrame.

In [2]:
# array of random numbers
data = np.random.randint(1,501,size=(10,50))

# array into dataframe
df = pd.DataFrame(data)
df

,0,1,2,3,4,5,6,7,8,9,...,40,41,42,43,44,45,46,47,48,49
0,118,42,420,216,171,440,332,44,405,463,...,174,111,402,493,432,109,61,209,126,399
1,272,324,44,273,305,241,449,339,358,452,...,91,56,416,54,149,37,359,498,174,188
2,319,420,425,231,346,80,374,62,184,225,...,242,283,316,160,299,331,154,378,254,387
3,47,393,217,88,174,109,109,406,467,298,...,406,470,192,96,265,62,97,59,369,252
4,432,59,294,142,322,159,165,426,223,320,...,487,106,250,55,120,11,484,342,170,144
5,53,445,478,419,302,275,230,97,245,303,...,478,137,398,15,91,156,209,474,60,309
6,128,479,88,341,397,98,228,343,467,472,...,484,386,16,6,12,418,313,358,56,430
7,202,486,480,11,374,132,459,309,253,284,...,289,483,288,418,92,96,468,58,51,152
8,358,23,273,394,488,73,235,24,70,160,...,8,238,289,281,429,221,384,327,218,370
9,235,293,89,303,399,403,20,223,481,33,...,351,101,70,268,4,40,140,277,7,372

2. Calculate the sum of each row; the sum of each column; and the sum of all entries.

In [3]:
# sum of column
print("Sum of each column")
df.sum(axis=0)

Sum of each column

0     2164
1     2964
2     2808
3     2418
4     3278
5     2010
6     2601
7     2273
8     3153
9     3010
10    1831
11    2837
12    2730
13    2574
14    2604
15    2686
16    2247
17    2960
18    2210
19    2395
20    2654
21    1929
22    2856
23    3355
24    2800
25    3047
26    3082
27    1761
28    2529
29    2510
30    2033
31    3203
32    2411
33    2487
34    1700
35    2942
36    3070
37    2621
38    2040
39    2396
40    3010
41    2371
42    2637
43    1846
44    1893
45    1481
46    2669
47    2980
48    1485
49    3003
dtype: int64

In [6]:
# sum of rows
print("Sum of each row")
df.sum(axis=1)

Sum of each row

0    14374
1    12675
2    12120
3    14173
4    11850
5    13562
6    11187
7    11867
8    12947
9    11799
dtype: int64

In [7]:
# sum of all values
sum_values = np.sum(df.values)
print("Sum of all values = {}".format(sum_values))

Sum of all values = 126554

3. Determine the minimum; maximum; average; and standard deviation of all entries.

In [8]:
min_value = np.min(df.values)
max_value = np.max(df.values)
mean_value = np.mean(df.values)
std_value = np.std(df.values)

print("Minimum Value = {}".format(min_value))
print("Maximum Value = {}".format(max_value))
print("Average = {}".format(mean_value))
print("Standard Deviation = {}".format(std_value))

Minimum Value = 2
Maximum Value = 498
Average = 253.108
Standard Deviation = 147.04637478020328

4. Sort the DataFrame: by rows, by columns, on row 2, on column 2.

In [9]:
# sorted by row 2
df_sorted_by_row = df.sort_values(by=2, axis=0)
print("Sorted by row 2 values")
df_sorted_by_row

Sorted by row 2 values

,0,1,2,3,4,5,6,7,8,9,...,40,41,42,43,44,45,46,47,48,49
1,272,324,44,273,305,241,449,339,358,452,...,91,56,416,54,149,37,359,498,174,188
6,128,479,88,341,397,98,228,343,467,472,...,484,386,16,6,12,418,313,358,56,430
9,235,293,89,303,399,403,20,223,481,33,...,351,101,70,268,4,40,140,277,7,372
3,47,393,217,88,174,109,109,406,467,298,...,406,470,192,96,265,62,97,59,369,252
8,358,23,273,394,488,73,235,24,70,160,...,8,238,289,281,429,221,384,327,218,370
4,432,59,294,142,322,159,165,426,223,320,...,487,106,250,55,120,11,484,342,170,144
0,118,42,420,216,171,440,332,44,405,463,...,174,111,402,493,432,109,61,209,126,399
2,319,420,425,231,346,80,374,62,184,225,...,242,283,316,160,299,331,154,378,254,387
5,53,445,478,419,302,275,230,97,245,303,...,478,137,398,15,91,156,209,474,60,309
7,202,486,480,11,374,132,459,309,253,284,...,289,483,288,418,92,96,468,58,51,152

In [10]:
# sorted by column 2
df_sorted_by_col = df.sort_values(by=2, axis=1)
print("Sorted by column 2 values")
df_sorted_by_col

Sorted by column 2 values

,30,34,33,10,26,7,11,5,17,22,...,47,13,49,1,2,31,23,18,36,24
0,417,361,352,2,495,44,452,440,384,63,...,209,259,399,42,420,426,396,116,330,66
1,89,134,406,46,464,339,77,241,131,448,...,498,432,188,324,44,201,138,74,207,144
2,9,20,29,39,39,62,75,80,90,95,...,378,384,387,420,425,426,443,451,459,488
3,315,306,419,331,135,406,476,109,487,445,...,59,366,252,393,217,182,422,361,37,252
4,132,408,85,152,298,426,196,159,478,314,...,342,54,144,59,294,450,437,29,459,24
5,485,174,392,238,383,97,313,275,279,493,...,474,62,309,445,478,383,97,265,391,377
6,182,117,11,299,71,343,383,98,301,160,...,358,226,430,479,88,337,293,106,109,297
7,86,3,97,169,314,309,203,132,401,154,...,58,74,152,486,480,440,348,140,475,255
8,106,94,371,99,397,24,336,73,201,241,...,327,480,370,23,273,209,392,193,191,450
9,212,83,325,456,486,223,326,403,208,443,...,277,237,372,293,89,149,389,475,412,447